<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 16px; text-align: center;">
    <p>Click the button to send 'track' event:</p>
    <ion-button (click)="sendTrack()">Track</ion-button>
  </div>
</ion-content>
